body {
  font-family: "futura-pt", 'Helvetica';
  letter-spacing:-5px;
  background-size: 100%;
  margin:0;
  padding:0;
  font-weight:bold;
}

body.with_logo {
    background-position-x: right;
    background-position-y: -100%;
    background-size: 30%;
    background-repeat: no-repeat;
}

body.no_logo {
    background-image:none;
}


h1, h2, h3, p {
  margin:0;
}

em, a {
  font-style:normal;
}

a {
  text-decoration:none;
}

img {
  width:100%;
}

div {
  cursor:pointer;
  cursor:hand;
  position:absolute;
  top:0;
  left:0;
}
