@import url("opengisch-big.css");


body {
  background-color: #80CC28;
  color:#fff;
  background-size: cover;
}

body.blue_bg {
  background-color: #2880cc;
}

body.with_logo {
    background-image: url("images/copyrighted/openGIS-logo-round-green-no-text-bg-cut-white.svg");
    
}

div.green_text, p.green_text, p.footer_title, span.green_text, .green_text{
    color: #80CC28;
}

div.blue_text, em, a, p.footer_title.blue {
  color:#2880cc;
}

a, p.blue {
  background: #2880cc !important;
  color:#fff !important;
}
