@import url("opengisch-big.css");


body {
  background-color: #80CC28;
  color:#fff;
  background-size: cover;
}

body.with_logo {
    background-image: url("images/copyrighted/openGIS-logo-round-green-no-text-bg-cut-white.svg");
    
}

div.green_text, p.footer_title, span.green_text{
    color: #80CC28;
}

em, a {
  color:#2880cc;
}

a {
  background: #2880cc;
  color:#fff;
}
