body {
  font-family: "futura-pt", 'Helvetica';
  letter-spacing:-5px;
  background-size: 100%;
  background-color: #80CC28;
  color:#fff;
  margin:0;
  padding:0;
  font-weight:bold;
}

body.with_logo {
    background-position-x: right;
    background-position-y: -100%;
    background-size: 30%;
    background-repeat: no-repeat;
    background-image: url("images/copyrighted/openGIS-logo-round-green-no-text-bg-cut-white.svg");
}

body.no_logo {
    background-image:none;
}

div.green_text{
    color: #80CC28;
}

h1, h2, h3, p {
  margin:0;
}

em, a {
  font-style:normal;
  color:#2880cc;
}

a {
  background: #2880cc;
  color:#fff;
  text-decoration:none;
}

img {
  width:100%;
}

div {
  cursor:pointer;
  cursor:hand;
  position:absolute;
  top:0;
  left:0;
}